/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 2, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_background.scss */
#form {
  background-color: #84858F;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* line 10, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.grid-object {
  border: 1px solid;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.article {
  border: 1px solid;
  width: 371px;
}

/* line 5, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.article img {
  width: 371px;
}

/* line 10, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.f-container {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-around;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#fixed-consent {
  position: fixed;
  bottom: 0px;
  margin-left: -350px;
}

/* line 7, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.nav-size {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-around;
  background-color: #333645;
  margin-bottom: 0;
}

/* line 17, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.top-btn {
  font-size: 18px;
  width: 102px;
  height: 99px;
  line-height: 35px;
  text-align: center;
  background-color: #333645;
}

/* line 29, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#sub-btn {
  border-radius: 5px;
  font-size: 17.008px;
  width: 129px;
  height: 46px;
  line-height: 35px;
  text-align: center;
}

/* line 40, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#hamburger-menu {
  height: 54px;
  width: 60px;
}

/* line 47, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-styles {
  border-radius: 5px;
  font-size: 17.008px;
  width: 129px;
  height: 46px;
  line-height: 35px;
  text-align: center;
  background-color: #2ECC71;
  text-transform: uppercase;
  color: white;
}

/* line 63, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#grey-btn {
  background-color: #67809F;
}

/* line 67, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#green-btn {
  background-color: #2ECC71;
}

/* line 71, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#pred-btn {
  background-color: #f62459;
}

/* line 75, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#dred-btn {
  background-color: #CE4125;
}

/* line 79, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#purple-btn {
  background-color: #926fb1;
}

/* line 83, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#blue-btn {
  background-color: #4183D7;
}

/* line 87, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#purple-btn {
  background-color: #926fb1;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_slider.scss */
.slider {
  background-image: url("../img/home.webp");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 515px;
  margin-top: -22px;
  max-height: 515px;
}

/* line 8, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/style.scss */
.slider, .f-container, .nav-size, button, a {
  color: #FFFFFF;
}

/* line 15, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/style.scss */
.intro {
  display: flex;
  background-color: #333645;
  height: auto;
  flex-direction: row;
}

/* line 25, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/style.scss */
footer {
  background-color: #333645;
}

/*# sourceMappingURL=style.css.map */