/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 9, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
.slider, .intro, a {
  color: #FFFFFF;
}

/* line 13, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
.black-text {
  color: #272936;
}

/* line 18, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_base.scss */
button {
  border: none;
}

/* line 2, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_background.scss */
#form {
  background-color: #84858F;
}

/* line 6, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_background.scss */
footer {
  background-color: #333645;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Black.ttf) format("ttf");
  font-family: 'Icomoon';
  src: url(../fonts/icomoon.ttf) format("ttf");
}

/* line 10, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_typography.scss */
* {
  font-family: 'Poppins', sans-serif;
}

/* line 14, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_typography.scss */
span {
  font-family: 'icomoon';
}

/* line 18, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_typography.scss */
.grid-object {
  color: black;
}

/* line 21, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/base/_typography.scss */
.grid-object:hover a {
  color: white;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.grid {
  display: grid;
  grid-gap: 20px;
}

/* line 11, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.grid-object {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0px;
  transition: 0.5s ease;
}

/* line 19, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.grid-object:hover {
  top: -10px;
  transition: 0.5s ease;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-1 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-1:hover {
  background-color: #67809F;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-1:hover {
  color: #FFFFFF;
}

/* line 32, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-2 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-2:hover {
  background-color: #4183D7;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-2:hover {
  color: #FFFFFF;
}

/* line 37, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-3 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-3:hover {
  background-color: #2ECC71;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-3:hover {
  color: #FFFFFF;
}

/* line 42, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-4 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-4:hover {
  background-color: #CE4125;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-4:hover {
  color: #FFFFFF;
}

/* line 47, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-5 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-5:hover {
  background-color: #926fb1;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-5:hover {
  color: #FFFFFF;
}

/* line 52, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_grid.scss */
.object-6 {
  background-color: #FFFFFF;
  color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-6:hover {
  background-color: #f62459;
}

/* line 34, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.object-6:hover {
  color: #FFFFFF;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.article {
  border: 1px solid;
  width: 371px;
}

/* line 8, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.article img {
  width: 369px;
}

/* line 13, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.f-container {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-around;
}

/* line 23, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.intro {
  display: flex;
  background-color: #333645;
  height: auto;
  flex-direction: row;
}

/* line 30, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.heading {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-between;
}

/* line 39, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.partners {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-between;
  height: auto;
  filter: grayscale(1);
}

/* line 48, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_flex.scss */
.partners img:hover {
  filter: grayscale(0);
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_container.scss */
.grid-object, .article {
  text-align: center;
  margin-left: 20px;
}

@media screen and (min-width: 414px) {
  /* line 2, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mediaquery.scss */
  #search-normal {
    display: none;
  }
  /* line 6, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mediaquery.scss */
  #support, #contact {
    display: none;
  }
  /* line 10, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mediaquery.scss */
  .top-btn {
    display: none;
  }
}

/* line 2, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/states/_hover.scss */
.line-hover a:hover {
  text-decoration: underline;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#fixed-consent {
  position: fixed;
  bottom: 0px;
  border-radius: 0px 10px 0px 10px;
  border: none;
  margin-left: -390.275px;
  background-color: #75788a;
}

/* line 8, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#fixed-consent:hover {
  background-color: #999aa2;
}

/* line 14, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.nav-size {
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: center;
  background-color: #333645;
  margin-bottom: 0;
}

/* line 24, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.top-btn {
  font-size: 18px;
  width: 102px;
  height: 99px;
  line-height: 35px;
  text-align: center;
  background-color: #333645;
}

/* line 37, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#sub-btn {
  border-radius: 5px;
  font-size: 17.008px;
  width: 129px;
  height: 46px;
  line-height: 35px;
  text-align: center;
}

/* line 48, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#hamburger-menu {
  height: 54px;
  width: 60px;
}

/* line 53, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-styles {
  border-radius: 5px;
  font-size: 17.008px;
  width: 129px;
  height: 46px;
  line-height: 35px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  color: white;
}

/* line 67, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.grey-btn {
  background-color: #84858F;
}

/* line 71, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.grey_blue-btn {
  background-color: #f7b322;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.grey_blue-btn:hover {
  background-color: #e8a008;
}

/* line 75, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.green-btn {
  background-color: #2ECC71;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.green-btn:hover {
  background-color: #26ab5f;
}

/* line 79, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.pred-btn {
  background-color: #f62459;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.pred-btn:hover {
  background-color: #e80a42;
}

/* line 83, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.dred-btn {
  background-color: #CE4125;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.dred-btn:hover {
  background-color: #c42e2a;
}

/* line 87, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.blue-btn {
  background-color: #4183D7;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.blue-btn:hover {
  background-color: #166af4;
}

/* line 91, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.purple-btn {
  background-color: #926fb1;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.purple-btn:hover {
  background-color: #7e57a0;
}

/* line 95, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.black-btn {
  background-color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.black-btn:hover {
  background-color: #121318;
}

/* line 99, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#instagram {
  background-color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
#instagram:hover {
  background-color: #d93175;
}

/* line 103, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#linked_in {
  background-color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
#linked_in:hover {
  background-color: #0077b5;
}

/* line 107, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#twitter {
  background-color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
#twitter:hover {
  background-color: #00aced;
}

/* line 110, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
#facebook {
  background-color: #272936;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
#facebook:hover {
  background-color: #3b5998;
}

/* line 114, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-1 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-1:hover {
  background-color: #67809F;
}

/* line 120, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-2 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-2:hover {
  background-color: #4183D7;
}

/* line 124, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-3 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-3:hover {
  background-color: #2ECC71;
}

/* line 128, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-4 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-4:hover {
  background-color: #CE4125;
}

/* line 132, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-5 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-5:hover {
  background-color: #926fb1;
}

/* line 136, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_button.scss */
.btn-6 {
  background-color: #333645;
}

/* line 27, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/layout/_mixins.scss */
.btn-6:hover {
  background-color: #f62459;
}

/* line 1, ../../../OneDrive/Documents/GitHub/Netmatters-Website-Clone-ChristopherMorriss/scss/modules/_slider.scss */
.slider {
  background-image: url("../img/home.webp");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 515px;
  margin-top: -22px;
}

/*# sourceMappingURL=style.css.map */