@mixin align-items($m-top,$m-left){ //Mixin for aligning items (might delete this as I'm not sure it is used for anything
    margin-top: $m-top;
    margin-left: $m-left;
}

@mixin btnstyle($b-radius,$f-size,$w,$h,$l-height,$text-center,$b){//Mixin for styling many buttons
    border-radius: $b-radius;
    font-size: $f-size;
    width: $w;
    height: $h;
    line-height: $l-height;
    text-align: $text-center;
    border: $b;
}

@mixin flex($flex-dir,$display,$flex-wrap,$align-content,$align-items,$justify-content){//Mixin for flex objects
    flex-direction: $flex-dir;
    display: $display;
    flex-wrap: $flex-wrap;
    align-content: $align-content;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin grid($g-display,$g-row,$g-column,$gutter-row,$gutter-column){
    display: $g-display;
    grid-template-columns: $g-column;
    grid-template-rows: $g-row;
    row-gap: $gutter-row;
    column-gap: $gutter-column;
}

@mixin hover($bg_colour,$hover_colour){//One colour is assigned as the default and the other is used when the background is hovered over
    background-color: $bg_colour;
    &:hover{
        background-color: $hover_colour;
    }
}

@mixin hover-text($txt_colour,$hover_txt_colour){ //One colour is assigned as the default and the other is used when the text is hovered over
    color: $txt_colour;
    &:hover{
        color: $hover_txt_colour;
    }
}

//Mixin which affect the display value of the breakpoint-br class
@mixin copyright-br($c-br){
    .breakpoint-br{
        display: $c-br;
    }

}

//Mixin to replace the media query declarations 
@mixin media($breakpoint){

    @if $breakpoint =="small"{
        @media (min-width:$br-s){
            @content;
        }
    }
    @else if $breakpoint == "medium"{
        @media (min-width:$br-m) and (max-width:$br-l){
            @content;
        };
    }

    @else if $breakpoint =="large"{
        @media (min-width: ($br-l + 1)){
            @content;

        };
    }
    @else if $breakpoint =="x-large"{
        @media (min-width: $br-xl){
            @content;
        };
    }
}