// Colours
$purple : #926fb1;
$purple-hover: #7e57a0;
$pink_red: #f62459;
$pred-hover: #e80a42;
$dark_red: #CE4125;
$dred-hover: #c42e2a;
$grey_blue_og: #67809F; //This was the original colour used for the website, before it was changed to yellow colour below
$grey_blue: #f7b322; 
$grey_blue-hover: #e8a008;
$green: #2ECC71;
$green-hover: #26ab5f;
$blue: #4183D7;
$blue-hover: #166af4;
$grey: #84858F;
$consent: #75788a;
$consent-hover: #999aa2;
$background_black: #333645;
$white: #FFFFFF;
$orange: #ffa500; 
$black: #272936;
$black-hover: #121318;
$pure_black: #000000;
$instagram: #d93175;
$linked_in: #0077b5;
$facebook: #3b5998;
$twitter:  #00aced;

// Margins
$m-top: margin-top;
$m-left: margin-left;
$m-right: margin-right;
$-bottom: margin-bottom;

//Miscellaneous
$text-center: text-align;
$f-size: font-size;
$l-height: line-height;
$b-radius: border-radius;
$h: height;
$w: width;
$font: font-family;
$b: border;

//Flexbox
$flex-dir: flex-direction;
$display: display;
$flex-wrap: flex-wrap;
$align-content: align-content;
$align-items: align-items;
$justify-content: justify-content;

//Icons
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cogs: unquote('"\\e900"');
$icon-bar-graph: unquote('"\\e901"');
$icon-phone_in_talk: unquote('"\\e902"');
$icon-security: unquote('"\\e903"');
$icon-school: unquote('"\\e904"');
$icon-display: unquote('"\\e956"');
$icon-search: unquote('"\\e986"');
$icon-embed2: unquote('"\\ea80"');
$icon-facebook: unquote('"\\ea90"');
$icon-instagram: unquote('"\\ea92"');
$icon-twitter: unquote('"\\ea96"');
$icon-linkedin2: unquote('"\\eaca"');

$br-xs:375px; //IPhone X breakpoint
$br-s:768px;  //IPad Portrait
$br-m:1024px; //IPad Landscape
$br-l:1260px;




