// Colours
$purple : #926fb1;
$pink_red: #f62459;
$dark_red: #CE4125;
$grey_blue: #67809F;
$green: #2ECC71;
$blue: #4183D7;
$grey: #84858F;
$background_black: #333645;
$white: #FFFFFF;
$orange: #ffa500; 


// Margins
$m-top: margin-top;
$m-left: margin-left;
$m-right: margin-right;
$-bottom: margin-bottom;

//Miscellaneous
$text-center: text-align;
$f-size: font-size;
$l-height: line-height;
$b-radius: border-radius;
$h: height;
$w: width;
$font: font-family;
$b: border;

//Flexbox
$flex-dir: flex-direction;
$display: display;
$flex-wrap: flex-wrap;
$align-content: align-content;
$align-items: align-items;
$justify-content: justify-content;



