.intro{
    display: flex;
    background-color: $background_black;
    height: auto;
    flex-direction: column;
    h1{
      margin-bottom: 40px;
      font-weight: 600;
      font-size:2.25rem;
    }
    letter-spacing: 0.4px;
    p{
      margin-bottom: 25px;
      line-height: 1.875rem;
    }
    @include media(large){
      @include flex($flex-dir:row,$display:flex,$flex-wrap:nowrap,$align-content:normal,$align-items:normal,$justify-content:null);
    }
    @include media(x-large){
      @include flex($flex-dir:row,$display:flex,$flex-wrap:null,$align-content:null,$align-items:null,$justify-content:null);
    }
  }

  .black-btn,.google-btn,.trustpilot-btn{
    @include btnstyle($b-radius:6px,
                      $f-size:20px,
                      $w:null,
                      $h:auto,
                      $l-height:35px,
                      $text-center:center,
                      $b:1px solid transparent);
    margin-bottom: 17px;
    padding: 10px 30px;
    span{
      margin-left:12px;
    }
  }

  .quote{
    line-height: 1.875rem;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top:40px;
    margin-bottom: 40px;
    .quote-author{
      color: $quote-author;
      font-size: 1.1rem;
      margin-top:40px;
    }
    
  }

  .google-btn{
    @include hover($google-blue,$blue-hover);
  }

  .trustpilot-btn{
    @include hover ($trustpilot-green,$green-hover);
  }

  .btn-group{
    br{
      display: block;
      @include media(small){
        display:none;
      }
      @include media(large){
        display: block;
      }
    }
  }

  // .review{
  //   width:474px;
  // }