.slider{ 
    &:before{
        content:"";
        position: absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        background: linear-gradient(270deg,transparent 25%,#000);
        z-index:3;
    }
    .design-1{
      background-image: url("../img/home.webp"); 
      @extend %background-banner;
    }
    // .design-1:before{
        
    // }
    .design-2{
      
      background-image: url("../img/bespoke-bg.webp"); 
      @extend %background-banner;
      position: sticky;
    }
    // .design-2:before{
    //     content:"";
    //     position: absolute;
    //     top:0px;
    //     bottom:0px;
    //     left:0px;
    //     right:0px;
    //     background: linear-gradient(270deg,transparent 25%,#000);
    //     z-index:3;
    // }

    
    .design-3{
      background-image: url("../img/it-bg.webp"); 
      @extend %background-banner;
    }
    .design-4{
      background-image: url("../img/digital-marketing-bg.webp"); 
      @extend %background-banner;
    }
    .design-5{
      background-image: url("../img/telecoms-services-bg.webp"); 
      @extend %background-banner;
    }
    .design-6{
      background-image: url("../img/web-design-bg.webp"); 
      @extend %background-banner;
    }
    .design-7{
      background-image: url("../img/cyber-security-bg.webp"); 
      @extend %background-banner;
    }
    @include flex( //Flex used for the layout of the text on the banner
        $flex-dir:column,
        $display:flex,
        $flex-wrap:wrap,
        $align-content:normal,
        $align-items:normal,
        $justify-content:center
        );
    button{
      width:80%;
      line-height:50px;
      @include media(small){
        width:15%;
      };
      @include media(medium){
        width:15%;
      };
      @include media(large){
        width:15%;
      };
      @include media(x-large){
        width:15%;
      };
      text-transform: uppercase;
      z-index:4;
    }
    &-design{
      //height:500px;
      //margin-left:10%;
      h1{
        @include media(large){
          font-size:4em;
          }
        @include media(x-large){
        font-size:4em;
        }
      }
      h2{
        @include media(large){
          font-size:1.5em;
          }
        @include media(x-large){
        font-size:1.5em;
        }
      }
    //   h1,h2,button{
    //     margin-left:10%;
    //     margin-right:10%;
    //   }
    }
  }
  
.slider-content{
    @include flex( //Flex used for the layout of the text on the banner
        $flex-dir:column,
        $display:flex,
        $flex-wrap:wrap,
        $align-content:normal,
        $align-items:normal,
        $justify-content:center
        );
    z-index: 4;
    
}