%container-align{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

%container-padding-horizontal{
    padding-left: 15px;
    padding-right: 15px;
}

%container-padding-vertical{
    padding-bottom: 50px;
    padding-top: 50px;
}