.heading{
 @include flex($flex-dir: null,
               $display: flex,
               $flex-wrap: wrap,
               $align-content: normal,
               $align-items: normal,
               $justify-content:space-between);
  h1{
    font-size: 2.25rem
  }
  h2{
    font-size: 2.7rem;
    font-weight: 400;
  }
}



.social{
  display: flex;
  flex-wrap: wrap;
  &-btn{
    width: 100px;
    height: 70px;
    font-size: 26px;
    color:white;
    margin: 10px;
    
  }
}


// .news{
//   @include flex($flex-dir: row,
//                 $display: flex,
//                 $flex-wrap: nowrap,
//                 $align-content: normal,
//                 $align-items: normal,
//                 $justify-content:space-around,
//                 );
// }

