.article{
    border: 1px solid;
    //border-radius:15px;
    //padding:30px;
    @extend %container-align;
    width:371px;
    
    img{
      width:369px;
    }
}

.f-container{
  @include flex($flex-dir: null,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: normal,
                $align-items: normal,
                $justify-content:space-around,
                );
}

.intro{
  display: flex;
  background-color: $background_black;
  height: auto;
  flex-direction: row;
}

.heading{
 @include flex($flex-dir: null,
               $display: flex,
               $flex-wrap: wrap,
               $align-content: normal,
               $align-items: normal,
               $justify-content:space-between,)
}

.partners{
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: no-wrap,
                $align-content: normal,
                $align-items: normal,
                $justify-content:space-between,);
  img{
    max-height:70px;
    max-width:200px;
    overflow-x: hidden;
    filter: grayscale(1);
    &:hover{
      filter:none;
    }
  }
  //@extend %container-align;


  img:hover{
    filter: grayscale(0);
  }
}

.social{
  display: flex;
  flex-wrap: wrap;
  &-btn{
    width: 200px;
    height: 200px;
  }
}
