.article{
    border: 1px solid;
    @extend %container-align; //Extend that sets text and the article box itself to the centre of the page
    width:90%;
    @include media(large){
      width:371px;
    }
    margin-bottom: 10px;
    img{
      width:100%;
      @include media(large){
        width:369px;
      }
      
    }
    @extend %side-margin;
}

.f-container{
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: normal,
                $align-items: normal,
                $justify-content:space-around,
                );
  #n-logo{
    width:60%;
    height:60%;
    margin-top:13px;
    @include media(large){
      width:auto;
      height:auto;
    }
    @include media(x-large){
      width:auto;
      height:auto;
    }
  };
  @extend %side-margin;
  padding-top:20px;
  padding-bottom:20px;

}

.intro{
  display: flex;
  background-color: $background_black;
  height: auto;
  flex-direction: column;
}

.heading{
 @include flex($flex-dir: null,
               $display: flex,
               $flex-wrap: wrap,
               $align-content: normal,
               $align-items: normal,
               $justify-content:space-between);
}

.partners{
  overflow-x: hidden;
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: nowrap,
                $align-content: normal,
                $align-items: normal,
                $justify-content:space-between);
  img{
    max-height:70px;
    max-width:200px;
    filter: grayscale(1);
    &:hover{
      filter:none; //Removes the grayscale filter effect when hovered over
    }
  }

}

.social{
  display: flex;
  flex-wrap: wrap;
  &-btn{
    width: 100px;
    height: 70px;
    font-size: 26px;
    color:white;
    margin: 10px;
    
  }
}
.search-container{
  display: none;
  @include media(medium){
    display:flex;
  }
  @include media(large){
    display:flex;
  }
}

// .news{
//   @include flex($flex-dir: row,
//                 $display: flex,
//                 $flex-wrap: nowrap,
//                 $align-content: normal,
//                 $align-items: normal,
//                 $justify-content:space-around,
//                 );
// }