footer{
    padding: 27px 0px 0px;
    @include media(x-large){
        padding: 47px 0px 0px;
    }
    background-color: $background_black;
    h4{
      color:$white;
      text-transform: uppercase;
    }
    p{
        font-size: 0.8125rem;
    }
    .black-btn{ //Social media buttons
        width:35%;
        margin-bottom: 10px;
        @include media(medium){
            width:25%;
            margin-bottom: 0px;
        }
        @include media(large){
            width:25%;
            margin-bottom: 0px;
        }
        text-align: center;
    }
    .marginalised{
        @include flex($flex-dir: row,
                      $display: block,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:null);
        @include media(small){
            display: flex;
        }
        a{
            &:hover{
            text-decoration: underline;
            }
        }
    }
 
  }



.footer{
    &-1,&-2,&-3,&-4{
        line-height: 1.42857143;
        width:100%; //Fills up the whole width at the smallest viewport
        @include media(medium){
            width: 50%; //Splits into 2 per row for medium viwport
            margin-left: -40px;
        }
        @include media(large){
            width: 25%; //All 4 columns are displayed on one ow for the largest viewport
        }
        // @include media(x-large){
        //     padding-left: 15px;
        //     padding-right: 15px;
        // }
        ul{
            font-size: .8125rem;
        }
        
    }
}

.footer-logos{
    width: 300px;
    @include media(x-large){
        width: 400px;
    }
}

.footer-contents{
    @include flex($flex-dir: row,
                      $display: block,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:null);
    @include media(medium){
        display:block;
        justify-content: space-evenly;

    }
    @include media(large){
        display:block;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    @include media(x-large){
        display: flex;
        flex-direction: row;
        justify-content: null;
    }
}

.footer-background{ 
    //Affects the span containing the copyright information
    //Need to make the copyright breakpoint display at different breakpoints
    background-color: $footer-black;
    padding-top:10px;
    font-size: 0.8125rem;
    background-size: 100vw;
    line-height: 1.42857143;
    color:white;
  }

.breakpoint-br{ //Breakpoint only appears at "small" or lower viewports
    @include media(medium){
        display: none;
    }
    @include media(large){
        display: none;
    }
    @include media(x-large){
        display: none;
    }
}

.copyright{
    padding: 5px 0px 10px;
    @include media(medium){
        display: flex;
    }
    @include media(large){
        display: flex;
    }
    @include media(x-large){
        display: flex;
    }
}

#sitemap-lg{
    display: block;
    @include media(medium){
        margin-left: 10px;
        display: flex;
    }
    @include media(large){
        margin-left: 10px;
        display: flex;
    }
    @include media(x-large){
        margin-left: 10px;
        display: flex;
    }
    font-size: 0.8125rem;
    line-height: 1.375rem;
    margin-top: -2px;
}

i{
    display: none;
    @include media(medium){
        margin-right: 5px;
        display:flex;
    }
    @include media(large){
        margin-right: 5px;
        display:flex;
    }
    @include media(x-large){
        margin-right: 10px;
        display:flex;
    }
}

.sizing-div{ //Used to limit the size of the social media buttons
    width:320px; 
    .social{
        width:90%;
        display: block;
        flex-wrap: wrap;
        @include media(small){
            display: flex;
            flex-wrap: nowrap;
        }
        &-btn{
          font-size: 26px;
          color:white;
          margin-right: 7px;
          line-height: 26px;
          padding: 12px 22px 16px;
          border-radius: 0px;
          border: none;
          margin-left: 0px;
        }
        span{
            position:relative;
            top:4px;
        }
      }
    
      #in-logo{
        width:250px;
        @include media(small){
            width:320px;
        }
      }
    
}

.footer-list{
    h4{ //Used to keep the headers in line with the footer lists
        margin-left: 0px;
        @include media(medium){
            margin-left: 40px;
        }
        @include media(x-large){
            margin-left: 40px;
        }
    }
    ul{ //Used to keep the footer lists in line with the header
        margin-left: -40px;
        @include media(medium){
            margin-left: 0px;
        }
        @include media(large){
            margin-left: -40px;
        }
        @include media(x-large){
            margin-left: 0px;
        }
    }
}