footer{
    padding: 27px 0px 0px;
    @include media(x-large){
        padding: 47px 0px 0px;
    }
    background-color: $background_black;
    h4{
      color:$white;
      text-transform: uppercase;
    }
    p{
        font-size: 0.8125rem;
    }
    .marginalised{
        //@include grid($g-display:grid,$g-row:null,$g-column:1fr 1fr,$gutter-row:20px,$gutter-column:20px);

        @include flex($flex-dir: row,
                      $display: block,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:null);
        @include media(small){
            display: flex;
        }
        a{
            &:hover{
            text-decoration: underline;
            }
        }
    }
 
  }

.social{
    width:90%;
    display: block;
    flex-wrap: wrap;
    @include media(small){
        display: flex;
        flex-wrap: nowrap;
    }
    
    &-btn{
      font-size: 26px;
      color:white;
      margin-right: 7px;
      line-height: 26px;
      padding: 12px 22px 16px;
      border-radius: 0px;
      border: none;
      margin-left:0px;
    }
    span{
        position:relative;
        top:4px;
    }
  }

  #in-logo{
    width:250px;
    @include media(small){
        width:320px;
    }
  }

.footer{
    &-1,&-2,&-3,&-4{
        width:100%;
        @include media(medium){
            width: 50%;
        }
        @include media(large){
            width: 25%;
        }
        @include media(x-large){
            padding-left: 15px;
            padding-right: 15px;
        }
        
    }
}

.footer-logos{
    width: 300px;
    @include media(x-large){
        width: 400px;
    }
}

.footer-contents{
    @include flex($flex-dir: row,
                      $display: block,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:null);
    @include media(medium){
        display:block;
        justify-content: space-evenly;

    }
    @include media(large){
        display:block;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    @include media(x-large){
        display: flex;
        flex-direction: row;
        justify-content: null;
    }
}

.footer-background{ 
    //Affects the span containing the copyright information
    //Need to make the copyright breakpoint display at different breakpoints
    left:0px;
    bottom:0px;
    width:100%;
    background-color: $footer-black;
    background-size: 100vw;
    text-align: center;
    color:white;
  }