.grid{
    //margin-left: 200px;
    @include grid($g-display:grid,$g-row:null,$g-column:1fr,$gutter-row:20px,$gutter-column:20px);
    @include media(large){
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
      //grid-template-rows: 300px;
      //grid-auto-rows: minmax(150px,auto);
    }
    @include media(x-large){
      grid-template-columns: 1fr 1fr 1fr;
      //grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
      //grid-auto-rows: minmax(150px,auto);


    }
    margin-bottom: 20px;
  
    
  
  
  
    &-object{
      // &.object-4, &.object-5, &.object-6, &.object-7{
      //     width:100%;
      // }
      text-align:center;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-shadow: 0 3px 35px rgba(0,0,0,.1);
      padding:30px;
      position: relative;
      top:0px;
      transition: 0.5s ease;
      color:black;
      height: 330px;
      &:hover{
        color:white;
        top:-10px;
        transition: 0.5s ease;
        button{
          background-color: white;
          @include hover-text($grey_blue_og,null);
        }

      }
      p{
        font-size:0.8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
      }
      h2{
        font-size: 1.3rem;
        padding-top: 10px;
        margin: 0 0 10px;
        font-weight: normal;
      }
      // for mobile: margin: auto;
    }
}
  
.object-1{
  @include hover($white,$grey_blue_og);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($grey_blue_og,null)
    }
  }
}

.object-2{
  @include hover($white,$blue);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($blue,null)
    }
  }
}

.object-3{
  @include hover($white,$green);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($green,null)
    }
  }
}

.object-4{
  @include hover($white,$dark_red);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($dark_red,null)
    }
  }
}

.object-5{
  @include hover($white,$purple);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($purple,null)
    }
  }
}

.object-6{
  @include hover($white,$pink_red);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($pink_red,null);
    }
  }
  
}



.grid2{
  @include grid($g-display:grid,$g-row:null,$g-column:1fr,$gutter-row:20px,$gutter-column:20px);
  
  @include media(large){
    grid-template-columns: repeat(2,minmax(300px,1fr));
    //grid-template-rows: 200px;

  }
  @include media(x-large){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-template-rows: 200px;



  } 
  margin-bottom: 50px;
}

#vow-1{
  display:none;
  @include media(large){
    display: flex;
  }
}

#vow-2{
  display:flex;
  font-weight: 600;
  font-size: 1.625rem;
  @include media(large){
    display: none;
  }

}

.heading{
  @include flex($flex-dir: null,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: normal,
                $align-items: normal,
                $justify-content:space-between);
   h1{
     font-size: 2.25rem
   }
   h2{
     font-size: 2.7rem;
     font-weight: 400;
   }
 }