.grid{
    display: grid;
    //@extend %container-align;
    //@extend %side-margin;
    //margin-left: 200px;
    //grid-template-rows: 1fr 1fr 1fr;
    //grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:20px;
    
  
  
  
    &-object{
      // &.object-4, &.object-5, &.object-6{
      //     width:200px;
      // }
      text-align:center;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-shadow: 0 3px 35px rgba(0,0,0,.1);
      padding:30px;
      position: relative;
      top:0px;
      transition: 0.5s ease;
      color:black;
      &:hover{
        color:white;
        top:-10px;
        transition: 0.5s ease;
        button{
          background-color: white;
          @include hover-text($grey_blue_og,null)
        }

      }
      
      // for mobile: margin: auto;
    }
}
  
.object-1{
  @include hover($white,$grey_blue_og);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($grey_blue_og,null)
    }
  }
}

.object-2{
  @include hover($white,$blue);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($blue,null)
    }
  }
}

.object-3{
  @include hover($white,$green);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($green,null)
    }
  }
}

.object-4{
  @include hover($white,$dark_red);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($dark_red,null)
    }
  }
}

.object-5{
  @include hover($white,$purple);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($purple,null)
    }
  }
}

.object-6{
  @include hover($white,$pink_red);
  @include hover-text($black,$white);
  &:hover{
    button{
      background-color: white;
      @include hover-text($pink_red,null);
    }
  }
  
}

.review{
  @extend %side-margin;
}