.f-container{
    background-color: $white;
    @include flex($flex-dir: row,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content:space-around,
                  );
    #n-logo{
      @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: wrap,
                      $align-content: normal,
                      $align-items: center,
                      $justify-content:null,
                      );
      max-width: 100%;
    };

    #in-logo{
      @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: wrap,
                      $align-content: normal,
                      $align-items: center,
                      $justify-content:null,
                      );
      max-width: 100%;

      
      @include media(large){
        width:auto;
        height:auto;
        max-width: 125%;
      }
      @include media(x-large){
        width:auto;
        height:auto;
      }
    };

    .left-header{
        @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:space-around,
                      );
        width:66.6667%;
        @include media(medium){
          width:50%;
        }
        @include media(large){
          width: 33.3333%;
        }
        @include media(x-large){
          width: 33.3333%;
        }
        margin-left: -15px;
        margin-right: -15px;
        

    }
    .right-header{
        @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: nowrap,
                      $align-content: null,
                      $align-items: normal,
                      $justify-content:null,
                      );
        width:33.3333%;
        @include media(medium){
          width:50%;
        }
        @include media(large){
          width:66.6667%;
        }
        button,a,input{
          margin: auto;
        }
        padding-top: 7px;
        margin-left: -15px;
        margin-right: -15px;
    }
    padding-top:20px;
    padding-bottom:20px;
    
}

#hamburger-menu{
    width:63px;
    height:56px;
    font-size: 2.5em;
    color: $white;
    background-color: $black;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    .line{
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      ::before{
        transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
      }
      ::after{
        transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      +.activated{      
          span{
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-duration: 0.22s;
            ::before{
              top: 0;
              opacity: 0;
              transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
            } 
            ::after{
              transform: rotate(-90deg);
              transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
              bottom: 4px;
            }
          }
      }
      
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      height: 4px;
      width: 33px;
      background-color: $white;
      display: block;
      margin: auto;
      &:before, &:after{
        content: "";
        display: block;
        background-color: #fff;
        position: relative;
        height: 4px;
        width: 33px;
      }
      &:before{
        transition: 0.1s ease-in 0.25s, opacity 0.1s ease-in;
        top: -10px;
      }
      &:after{
        transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        bottom: -6px;
      }
    }
}

#search-icon{ 
    margin-left: 0px;
    align-items: center;
    display:none;
    @include media(medium){
      display:flex;
    }
    @include media(large){
      display:flex;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 1.5em;
 
    }
    @include media(x-large){
      display:flex;
      width:auto;
      height:65px;
      font-size: 1em;
      padding-left: 5px;
    }
    
  
}
#search-normal{ //The search bar which only appears on the biggest viewports
  border: 1px solid $border_grey;
  
  &:focus{
    border: 1px solid $border_white;
    border-color: $search_blue_focus;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
  }
  @include media(medium){
    display:flex;
    height:56px;
    width:174px;
  }
  @include media(large){
    display:none;
  }
  @include media(x-large){
    display:flex;
    height:56px;
  }
  
  padding:5px 15px;
}
#support,#contact{ 
    @include btnstyle($b-radius:0px,
                      $f-size:1.125rem,
                      $w:null,
                      $h:56px,
                      $l-height:46px,
                      $text-center:center,
                      $b: none,
                      );
    span{
      margin-right: 5px;
    }
    display:none;
    @include media(medium){
      display:none;
    }
    @include media(large){
      display:flex;
    }
    width:auto;
    padding: 5px 15px;
    border-radius: 3px;

    a{
      margin:auto;
      display: flex;
    }
    border: 1px solid transparent;
    span{
      font-size: 1.438rem;
      line-height: 45px;
      .icon-mouse,.icon-send{
        margin-right: 5px;
      }
    }
}

#support{
  @include hover($blue,$support-hover);
}

#contact{
  @include hover($consent-hover,$grey);
}
  
.search-container{
  display: none;
  @include media(medium){
    display:flex;
  }
  @include media(large){
    display:flex;
  }
}  

#phone{
  //border:1px solid;
  color: black;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  &:hover{
    cursor: pointer;
  }
  @include media(medium){
    display:none;
  }
  @include media(large){
    display:none;
  }
}

#search-mobile{ //The search which appears on mobile or tablet devices only
  border: 1px solid $border_grey;
  box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .075);
  padding:5px 15px;
  background-color: $search_bg;
  border-radius: 2px;
  &:focus{
    border: 1px solid $border_white;
    border-color: $search_blue_focus;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
  }
  width:95vw;
  margin-top: 15px; 
  height: 47px;
  @include media(medium){
    display:none;
  }
  @include media(large){
    display:none;
  }
  @include media(x-large){
    display:none;
  }

  
}

.mobile-search{
  .icon-search{
    @include media(medium){
      display: none;
    }
    @include media(large){
      display: none;
    }
    @include media(x-large){
      display: none;
    }
    position: absolute;
    margin-top: 28px;
    margin-left: -30px;
    font-size: 20px;
  }
}

.sticky-header{
  //display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 11;
  height: 165px;
  @include media(x-large){
    height: 202px;
  }
  //box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
  animation-duration: .25s;
  transition: all .5s;
}

header{
  transition: all 500ms ease;
}

.white-bg{
  background-color: $white;
}

.animation{
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInDown{
  animation-name: slideInDown;
}
.slideOutUp {
  animation-name: slideOutUp;
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}

@keyframes slideOutUp {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}


