.f-container{
    @include flex($flex-dir: row,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content:space-around,
                  );
    @include media(large){
                  width:auto;
                  height:auto;
                  }
    @include media(x-large){
                  width:auto;
                  height:auto;
                  }
    #n-logo{
      // width:60%;
      // height:60%;
      //margin-top:13px;
      @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: wrap,
                      $align-content: normal,
                      $align-items: center,
                      $justify-content:null,
                      );
      max-width: 100%;

      
      @include media(large){
        width:auto;
        height:auto;
        max-width: 125%;
      }
      @include media(x-large){
        width:auto;
        height:auto;
      }
    };

    .left-header{
        @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: wrap,
                      $align-content: center,
                      $align-items: normal,
                      $justify-content:space-around,
                      );
        width:66%;
        @include media(medium){
          width:50%;
        }
        @include media(large){
          width: 33%;
        }
        @include media(x-large){
          width: 33%;
        }

    }
    .right-header{
        @include flex($flex-dir: row,
                      $display: flex,
                      $flex-wrap: nowrap,
                      $align-content: normal,
                      $align-items: normal,
                      $justify-content:flex-end,
                      );
        width:33%;
        @include media(medium){
          width:50%;
        }
        @include media(large){
          width:66%;
        }
        button,a,input{
          margin-left: 20px;
        }
      
        
    }
    //@extend %side-margin;
    padding-top:20px;
    padding-bottom:20px;
    
}

#hamburger-menu{
    width:63px;
    height:56px;
    font-size: 2.5em;
    color: $white;
    background-color: $black;
    @include media(large){
      margin-top: 20px;
    }
}

#search-icon{ 
    margin-left: 0px;
    align-items: center;
    display:none;
    @include media(medium){
      display:flex;
    }
    @include media(large){
      display:flex;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 1.5em;
 
    }
    @include media(x-large){
      display:flex;
      width:auto;
      height:65px;
      font-size: 1em;
      padding-left: 5px;
    }
    
  
}
#search-normal{ //The search bar which only appears on the biggest viewports
  border: 1px solid $border_grey;
  
  &:focus{
    border: 1px solid $border_white;
    border-color: $search_blue_focus;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
  }
  @include media(medium){
    display:flex;
    height:56px;
    width:174px;
  }
  @include media(large){
    display:none;
  }
  @include media(x-large){
    display:flex;
    height:56px;
  }
  
  padding:5px 15px;
}
#support,#contact{ 
    @include btnstyle($b-radius:0px,
                      $f-size:1.125rem,
                      $w:139px,
                      $h:56px,
                      $l-height:46px,
                      $text-center:center,
                      $b: none,
                      );
    display:none;
    margin-top:20px;
    @include media(medium){
      display:none;
    }
    @include media(large){
      display:flex;
    }
    //padding: 5px 15px;
    border-radius: 3px;

    a{
      margin:auto;
    }
    border: 1px solid transparent;
    span{
      font-size: 1.438rem;
      line-height: 45px;
    }
}

#support{
  @include hover($blue,$support-hover);
}

#contact{
  @include hover($consent-hover,$grey);
}
  
.search-container{
  display: none;
  @include media(medium){
    display:flex;
  }
  @include media(large){
    display:flex;
    margin-left: 20px;
    margin-top: 20px;
  }
}  

#phone{
  //border:1px solid;
  color: black;
  font-size: 2em;
  display: flex;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
  @include media(medium){
    display:none;
  }
  @include media(large){
    display:none;
  }
}

#search-mobile{ //The search which appears on mobile or tablet devices only
  border: 1px solid $border_grey;
  box-shadow:  inset 0 1px 1px rgba(0, 0, 0, .075);
  padding:5px 15px;
  background-color: $search_bg;
  border-radius: 2px;
  &:focus{
    border: 1px solid $border_white;
    border-color: $search_blue_focus;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
  }
  width:95vw;
  margin-top: 15px; 
  height: 47px;
  @include media(medium){
    display:none;
  }
  @include media(large){
    display:none;
  }
  @include media(x-large){
    display:none;
  }

  
}

.mobile-search{
  .icon-search{
    @include media(medium){
      display: none;
    }
    @include media(large){
      display: none;
    }
    @include media(x-large){
      display: none;
    }
    position: absolute;
    margin-top: 28px;
    margin-left: -30px;
    font-size: 20px;
  }
}