.article{
    border: 1px solid;
    margin-bottom: 10px;
    .img-news{
      img{
        width:100%;
      }
    }
    position: relative;
  
    .img-btn{
      position: absolute;
      right:0;
      &:hover{
        text-decoration: underline;
        color:white;
      }
    }
 
    border: 1px solid #ccc;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    top:0px;
    transition: 0.5s ease;
    border-radius: 0  0 3px 3px;
    &:hover{
      top:-10px;
      transition: 0.5s ease;
    }
}

#va-1{
  font-weight: 600;
  display:none;
  @include media(large){
    display:block;
  }
}

#va-2{
  display:flex;
  font-weight: 600;
  font-size: 1.625rem;
  @include media(large){
    display:none;
  }
}


.red-text{
  color: $dark_red;
  font-size: 1rem;
}
.green-text{
  color:$green;
  font-size: 1rem;
}
.blue-text{
  color: $blue;
  font-size: 1rem;
}

.news{
  z-index: 3;
  .container{
    // @include grid($g-display:grid,$g-row:null,$g-column:1fr,$gutter-row:20px,$gutter-column:20px);
    // grid-template-columns: 1fr;
    // @include media(medium){
    //   grid-template-columns: 0.5fr 0.5fr;
    // }
    // @include media(large){
    //   grid-template-columns: 1fr 1fr;
    // }
    // @include media(x-large){
    //   grid-template-columns: 1fr 1fr 1fr;
    // }
    @include flex($flex-dir:column,
                  $display:flex,
                  $flex-wrap:nowrap,
                  $align-content:normal,
                  $align-items:normal,
                  $justify-content:null);
    
    @include media(medium){
      flex-direction: row;

    }
    @include media(large){
      flex-direction: row;
    }
  }

}


.article-title{
  display:flex;
  align-items: center;
}

.read-time{
  margin-left: 5px;
  color:$read-time;
  font-size: 0.85rem;
  text-transform: uppercase;
}


.article-info{
  color: $article-text;
  p{
    line-height: 1.375rem;
    font-size: 0.8125rem;
  }
  
}


.article-footer{
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  border-top: 1px solid #ccc;
  font-size: 0.875rem;
}

.article-info,.news-title{
  padding-left:30px;
  padding-right: 30px;
  p{
    margin-bottom: 25px;
  }
}

.text-footer{
  padding-left: 20px;
  line-height: 1.375rem;
  color:#666;
  h3{
    font-weight: 600;
    font-size: 0.875rem;
  }
}

.article-1,.article-2{
  margin-bottom: 30px;
  @include media(medium){
    width:50%; //Both articles share the same line at the medium media query
    margin-right: 15px;
  }
  @include media(large){
    width:auto; //All three articles share the same line at the large media query
    margin-right: 15px;
  }
}

.article-3{
  display:block;
  @include media(medium){
    display:none;
  }
  @include media(large){
    display: none;
  }
  @include media(x-large){
    display: block;
  }
}

.img-footer{
  img{
    max-width: 47px;
    border-radius: 50%;
    overflow: hidden;

  }
}

.news{
  .img-btn{
    margin-top:10px;
    padding: 0px 10px;
    font-weight: 600;
  }
  .read-btn{
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
}

.light-black{
  color:$background_black;
}

.article-contents{
  border-top: 0;
  border-radius: 0 0 3px 3px;
}


