.partners{
    //overflow-x: hidden;
    @include flex($flex-dir: row,
                  $display: flex,
                  $flex-wrap: nowrap,
                  $align-content: null,
                  $align-items: null,
                  $justify-content:space-between);
    img{
      //display: flex;
      max-height:70px;
      max-width:200px;
      width:auto !important;
      filter: grayscale(1);
      &:hover{
        filter:none; //Removes the grayscale filter effect when hovered over
      }
    }
  
  }

.triangle-partners {
  margin:auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 36px 34px 36px;
  border-color: transparent transparent $background_black transparent;
  transform: rotate(180deg);
  &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12,&-13{
    position: relative;
    color: $white;
    button{
      @include btnstyle($b-radius:3px,
                        $f-size:16px,
                        $w:null,
                        $h:null,
                        $l-height:35px,
                        $text-center:center,
                        $b:1px solid transparent);
      
      margin-top: 11px;
      margin-bottom: 17px;
      padding: 10px 0px;
      width:100%;
      color:$white;
      span{
        margin-right: -4px;
        margin-left: 12px;

      }
    }
    // left: 0px;
    z-index: 7;
  }
}
  
.tooltip-box{
  background-color: $background_black;
  text-align: center;
 
  padding: 20px;
  font-size: .875rem;
  h3{
    position: relative;
    font-size: 1.125rem;
    padding-bottom: 17px;
    margin: 0;
  }
}

.partner-container{
  padding: 0px 20px;
  position: relative;
}

.all-logos{
  display: flex !important;
  align-items: end;
}

.full-tooltip{
  display: none;
  position: absolute;
  bottom: 100%;
  width:280px;
}

.logo-container{
  margin-right: 50px;
  display: flex;
  justify-content: center;
  &:hover{
    .full-tooltip{
      display: block;
    }
  }
}

.text-icon{
  display: flex;
}