#pop-up-menu{ //Code for the pop-up menu 
    display:none;
    background-color: $background_black;
    color:$white;
    text-transform: uppercase;
    a{
        h2,h3,p{
        background-color: $black;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        }
    }
    @include media(large){
      .sub-menu{ //The sub menu doesn't appear on the larger breakpoints
        display:none;
      }
    }
    @include media(x-large){
      .sub-menu{
        display:none;
      }
    }
  }