@mixin align-items($m-top,$m-left){
    margin-top: $m-top;
    margin-left: $m-left;
}

@mixin btnstyle($b-radius,$f-size,$w,$h,$l-height,$text-center){
    border-radius: $b-radius;
    font-size: $f-size;
    width: $w;
    height: $h;
    line-height: $l-height;
    text-align: $text-center;
    
}
