@mixin align-items($m-top,$m-left){
    margin-top: $m-top;
    margin-left: $m-left;
}

@mixin btnstyle($b-radius,$f-size,$w,$h,$l-height,$text-center,$b){
    border-radius: $b-radius;
    font-size: $f-size;
    width: $w;
    height: $h;
    line-height: $l-height;
    text-align: $text-center;
    border: $b;
}

@mixin flex($flex-dir,$display,$flex-wrap,$align-content,$align-items,$justify-content){
    flex-direction: $flex-dir;
    display: $display;
    flex-wrap: $flex-wrap;
    align-content: $align-content;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin hover($bg_colour,$hover_colour){
    background-color: $bg_colour;
    &:hover{
        background-color: $hover_colour;
    }
}

@mixin hover-text($txt_colour,$hover_txt_colour){
    color: $txt_colour;
    &:hover{
        color: $hover_txt_colour;
    }
}

@mixin hide($search-mob-display,
            $search-norm-display,
            $support-contact-display,
            $nav-btn-display,
            $phone-display,
            $view-our-work1,
            $view-our-work2,
            $view-all1,
            $view-all2,
            $mag-glass,){
    #search-mobile{
        display: $search-mob-display;
    }
    #search-normal{
        display: $search-norm-display;
    }

    #support,#contact{
        display: $support-contact-display;
    }

    .top-btn{
        display: $nav-btn-display;
    }

    #phone{
        display:$phone-display;
    }
    #vow-1{
        display: $view-our-work1;
    }
    #vow-2{
        display: $view-our-work2;
    }
    #va-1{
        display: $view-all1;
    }
    #va-2{
        display: $view-all2;
    }
    .search-icon{
        display: $mag-glass;
    }
}

@mixin copyright-br($c-br){
    .breakpoint-br{
        display: $c-br;
    }

}

//Mixin to replace the media query declarations 
@mixin media($breakpoint){

    @if $breakpoint =="small"{
        @media (min-width:$br-s){
            @content;
        }
    }
    @else if $breakpoint == "medium"{
        @media (min-width:$br-m) and (max-width:$br-l){
            @content;
        };
    }

    @else if $breakpoint =="large"{
        @media (min-width: ($br-l + 1)){
            @content;

        };
    }
    @else if $breakpoint =="x-large"{
        @media (min-width: $br-xl){
            @content;
        };
    }
}