@mixin align-items($m-top,$m-left){
    margin-top: $m-top;
    margin-left: $m-left;
}

@mixin btnstyle($b-radius,$f-size,$w,$h,$l-height,$text-center,$b,){
    border-radius: $b-radius;
    font-size: $f-size;
    width: $w;
    height: $h;
    line-height: $l-height;
    text-align: $text-center;
    border: $b;
}

@mixin flex($flex-dir,$display,$flex-wrap,$align-content,$align-items,$justify-content){
    flex-direction: $flex-dir;
    display: $display;
    flex-wrap: $flex-wrap;
    align-content: $align-content;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin hover($bg_colour,$hover_colour){
    background-color: $bg_colour;
    &-hover{
        background-color: $hover_colour;
    }
}