.nav-size{
    @include flex($flex-dir:row,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content: null,
                  );
    background-color: #333645;
    display:none; //The navigation only appears for the large and x-large viewports
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 0;
    @include media(large){
      display:flex;
    }
    @include media(x-large){
      display:flex;
    }
    .hover{
      span{
        font-size: 1.2rem;
      }
    }
    span{
      font-size: 1.438rem;
    }
    
    
}

.btn-1{ //This and similarly named buttons are the navigation bar buttons
  ////border-bottom: 1px solid $background_black; 
  //Above is border created to separate the triangle and the button when hovered over
  @include hover($background_black, $grey_blue_og); 
  span{
    @include hover-text($grey_blue_og, $white);

  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center); 
    
}

.btn-2{
  //border-bottom: 1px solid $background_black;
  @include hover($background_black,$blue); 
  span{
    @include hover-text($blue, $white);
  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center); 
}

.btn-3{
  //border-bottom: 1px solid $background_black;
  @include hover($background_black,$green);
  span{
    @include hover-text($green, $white);
  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center); 
}

.btn-4,.btn-7{
  //border-bottom: 1px solid $background_black;
  @include hover($background_black,$dark_red); 
  span{
    @include hover-text($dark_red, $white);
  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center);
}

.btn-5{
  //border-bottom: 1px solid $background_black;
  @include hover($background_black,$purple); 
  span{
    @include hover-text($purple, $white);
  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center); 
}

.btn-6{
  //border-bottom: 1px solid $background_black;
  @include hover($background_black,$pink_red); 
  span{
    @include hover-text($pink_red, $white);
  }
  &:hover{
    span{
      @include hover-text($white, null);
    }
    .hover-submenu6{
      display: grid;
    }
  }
  @include flex($flex-dir: row,
                $display: flex,
                $flex-wrap: wrap,
                $align-content: center,
                $align-items: normal,
                $justify-content:center); 
}


.top-btn{
    @include btnstyle($b-radius:null,
                     $f-size:18px,
                     $w:134.29px,
                     $h:99px,
                     $l-height:null,
                     $text-center:center,
                     $b: null,
                     );
    @include media(x-large){
        width:167.14px;
    }
    background-color: #333645;
    
}

.nav-background{
    background-color: #333645;
}


.hover-submenu1{ 
  background-color: $hover-sub-grey;
}

.hover-submenu2{
  background-color: $hover-sub-blue;
}

.hover-submenu3{
  background-color: $green-hover;
}

.hover-submenu4{
  background-color: $hover-sub-dred;
}

.hover-submenu5{
  background-color: $purple-hover;
}

.hover-submenu6{
  background-color: $pred-hover;
}

.hover-submenu7{
  background-color: $submenu-dred;
}

.white{
  color:$white; 
}

.hover-submenu{ //Class for styling all the submenus
  font-size: 1.2rem; 
  z-index: 5;
  position: absolute;
  width:100%;
  top:102px;
  display: none; //The menu only appears when the navigation button is hovered over
  .hover-grid1,.hover-grid2,.hover-grid3,.hover-grid4,.hover-grid5,.hover-grid6,.hover-grid7,.hover-grid8{
    margin-bottom: 50px;
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:null,
                $gutter-column:20px);
  }
  span{
    margin-right: 10px;
  }
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 35px 67.5px 0 67.5px;
  @include media(x-large){
      border-width: 39px 83.5px 0 83.5px;
  }
  &-1{
    border-color: $grey_blue_og transparent transparent transparent;
    @include media(large){
      transform: translateX(-12px);
    }
    @include media(x-large){
      transform: translateX(-15px);
    }
  }
  &-2{
    border-color: $blue transparent transparent transparent;
    @include media(large){
      transform: translateX(117px);
    }
    @include media(x-large){
      transform: translateX(153px);
    }
  }
  &-3{
    border-color: $green transparent transparent transparent;
    @include media(large){
      transform: translateX(254px);
    }
    @include media(x-large){
      transform: translateX(320px);
    }
  }
  &-4{
    border-color: $dark_red transparent transparent transparent;
    @include media(large){
      transform: translateX(387px);
    }
    @include media(x-large){
      transform: translateX(486px);
    }
  }
  &-5{
    border-color: $purple transparent transparent transparent;
    @include media(large){
      transform: translateX(523px);
    }
    @include media(x-large){
      transform: translateX(655px);
    }
  }
  &-6{
    border-color: $pink_red transparent transparent transparent;
    @include media(large){
      transform: translateX(655px);
    }
    @include media(x-large){
      transform: translateX(822px);
    }
  }
  &-7{
    border-color: $dark_red transparent transparent transparent;
    @include media(large){
      transform: translateX(791px);
    }
    @include media(x-large){
      transform: translateX(988px);
    }
  }
}

//Part of code that I plan to use to replace inneficient javascript hover effects
.anchor-1{ 
  &:hover{
    + .hover-submenu1{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-1:has(+ .hover-submenu1 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_1{
    background-color: $grey_blue_og;
  }
  span{
    color:$white;
  }
}
.hover-submenu1{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}
///
.anchor-2{ 
  &:hover{
    + .hover-submenu2{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-2:has(+ .hover-submenu2 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_2{
    background-color: $blue;
  }
  span{
    color:$white;
  }
}
.hover-submenu2{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
    
    
  }
}
///
.anchor-3{ 
  &:hover{
    + .hover-submenu3{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-3:has(+ .hover-submenu3 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_3{
    background-color: $green;
  }
  span{
    color:$white;
  }
}
.hover-submenu3{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}
///
.anchor-4{ 
  &:hover{
    + .hover-submenu4{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-4:has(+ .hover-submenu4 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_4{
    background-color: $dark_red;
  }
  span{
    color:$white;
  }
}
.hover-submenu4{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}

///
.anchor-5{ 
  &:hover{
    + .hover-submenu5{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-5:has(+ .hover-submenu5 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_5{
    background-color: $purple;
  }
  span{
    color:$white;
  }
}
.hover-submenu5{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}
///
.anchor-6{ 
  &:hover{
    + .hover-submenu6{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-6:has(+ .hover-submenu6 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_6{
    background-color: $pink_red;
  }
  span{
    color:$white;
  }
}
.hover-submenu6{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}

///
.anchor-7{ 
  &:hover{
    + .hover-submenu7{
      display: grid !important;
      right:0px;
      margin-top: 100px;
    }
  }
}

.anchor-7:has(+ .hover-submenu7 :hover){ //Only works for the grid itself and not the downward padding
  .submenu_7{
    background-color: $dark_red;
  }
  span{
    color:$white;
  }
}
.hover-submenu7{ 
  &:hover{
    display: grid;
    right:0px;
    margin-top: 100px;
  }
}
.minor-fixes{
  text-transform: none;
  p{
    text-align: start;
    margin-left: 0px;
  }
}

// .side-fixer{
//   //A div created to fix the issue where the hover-submenu1 ignored the sides when hovering
// }

.scroll-container {
  display: none;
  overflow: auto;
  //border: 1px solid #ccc;
  margin-bottom: 10px;
}

#scroll1 {
  position: fixed;
  //position: absolute;
  height: auto;
  @include media(large){
    //height: 100vw;
  }
  width: 400px;
  top: 0px;
  right: 0px;
  z-index: 11;
}

.content{
  width: 350px;
  height: 100vh;
  //height: 1078px;
  // @include media(x-large){
  //   height: 2417px;
  // } 
}

.hover,.centred{
  display:flex;
  align-items: center;
}

h2.white {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 500;
}