.nav-size{
    @include flex($flex-dir:row,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content: null,
                  );
    background-color: #333645;
    display:none;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 0;
    p{
      @extend %container-align;
    }
    @include media(large){
      display:flex;
    }
    @include media(x-large){
      display:flex;
    }
    span{
      font-size: 1.438rem;
    }
    
    
}

.top-btn{
    @include btnstyle($b-radius:null,
                     $f-size:18px,
                     $w:134.29px,
                     $h:99px,
                     $l-height:null,
                     $text-center:center,
                     $b: null,
                     );
    @include media(x-large){
        width:167.14px;
    }
    background-color: #333645;
    
}

.nav-background{
    background-color: #333645;
}


.hover-submenu1{
  background-color: $grey_blue_og;
  .hover-grid1{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  
  display: none;
}

.hover-submenu2{
  background-color: $blue;
  .hover-grid2{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  display: none;
}

.hover-submenu3{
  background-color: $green;
  .hover-grid3{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  display: none;
}

.hover-submenu4,.hover-submenu7{
  background-color: $dark-red;
  .hover-grid4,.hover-grid7{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  display: none;
}

.hover-submenu5{
  background-color: $purple;
  .hover-grid5{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  display: none;
}

.hover-submenu6{
  background-color: $pink_red;
  .hover-grid6{
    @include grid($g-display:grid, 
                $g-row: null,
                $g-column:1fr 1fr 1fr,
                $gutter-row:30px,
                $gutter-column:20px);
  }
  display: none;
}

.white{
  color:$white;
}

.hover-submenu1,.hover-submenu2,.hover-submenu3,.hover-submenu4,.hover-submenu5,.hover-submenu6,.hover-submenu7{
  font-size: 1.2rem;
  z-index: 5;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 47px 67.5px 0 67.5px;
  @include media(x-large){
    border-width: 47px 83.5px 0 83.5px;
  }
  border-color: #FF4532 transparent transparent transparent;
  transform: rotate(0deg);
}
