
#form{
    background-color: $grey;
  }
  
footer{
    background-color: $background_black;
    @extend %container-padding-horizontal;
    @extend %container-padding-vertical;
    h2{
      color:$white;
    }
    a{
      &:hover{
      text-decoration: underline;
      }
    }
  }

.footer-background{
  background-color: $footer-black;
  text-align: center;
  color:white;
  width:100%;
}