*{
    box-sizing:border-box;
    scroll-behavior: smooth;
}

a{ 
    text-decoration: none; //Removes the underline from the anchor tags
    
}


button{
    border: none;
    cursor: pointer; //Changes to the cursor to the state it appears when you hover over a link
    text-transform: uppercase;
    color:$white;
}

#container{ //Container for the whole page, excluding the footer and the pop-up menu
    position:relative;
    overflow: hidden;
    transition: all .5s;
    z-index:10;
    left:0;
    .shade{
        cursor: pointer;
        margin-left: -350px;
        &:after{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            opacity: 1;
            transition: opacity 0.5s;
            background: rgba(0, 0, 0, 0.4);
            content: '';
            z-index: 8;
            
        }
    
    }
    
    
}

.container{ //Container classs which is used for any element which needs center alignment and padding
    margin-right:auto;
    margin-left:auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media(medium){
        width:750px;
    }
    @include media(large){
        width:970px;
    }
    @include media(x-large){
        width:1200px;
    }
    
}

small{
    font-size: 0.625rem;
}

header{
    letter-spacing: 0.4px;
}

hr{
    color: $article-text;
}

h4{
    color: $white;
    font-weight: 400;
    margin-bottom: 26px;
}

body{
    letter-spacing: 0.4px;
}

li{
    list-style: none;
}

html{
    background-color: $white;
}