*{
    box-sizing:border-box;
}

a{ 
    text-decoration: none; //Removes the underline from the anchor tags
    
}


button{
    border: none;
    cursor: pointer; //Changes to the cursor to the state it appears when you hover over a link
    text-transform: uppercase;
}

#container{ //Container for the whole page, excluding the footer and the pop-up menu
    height:100%;
    position:relative;
    overflow: hidden;
    transition: all .5s;
    z-index:10;
    left:0;
}

.container{ //Container classs which will be used for any element which needs center alignment and padding
    margin-right:auto;
    margin-left:auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media(x-large){
        width:750px;
    }
    @include media(large){
        width:970px;
    }
    @include media(x-large){
        width:1200px;
    }
    
}

small{
    font-size: 0.625rem;
}

header{
    letter-spacing: 0.4px;
}