footer{
    background-color: $background_black;
    h2{
      color:$white;
      text-transform: uppercase;
   
    }
    .marginalised{
      a{
        &:hover{
        text-decoration: underline;
        }
      }
    }

  }

.footer-background{ 
  //Affects the span containing the copyright information
  //Need to make the copyright breakpoint display at different breakpoints
  left:0px;
  bottom:0px;
  width:100%;
  background-color: $footer-black;
  background-size: 100vw;
  text-align: center;
  color:white;
}