@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('ttf');

    font-family: 'Icomoon';
    src:url(../fonts/icomoon.ttf) format('ttf');
}


*{
    font-family: 'Poppins', sans-serif;
}

span{
    font-family: 'icomoon';
}

.grid-object {
    color:black;
    &:hover{
            a{
                color:white;
            };
            
            
    }

}
