@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.tff) format('tff');
}

*{
    font-family: 'Poppins', sans-serif;
}

.grid-object {
    color:black;
    &:hover{
            a{
                color:white;
            }
    }
}
