#fixed-consent{
    position: fixed;
    bottom:0px;
    border-radius: 0px 10px 0px 10px;
    border:none;
    margin-left: -390.275px;
    background-color: $consent;
    &:hover{
      background-color: $consent-hover;

    }
  }

.nav-size{
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: space-around;
  background-color: #333645;
  margin-bottom: 0;
}

.top-btn{
    @include btnstyle($b-radius:null,
                     $f-size:18px,
                     $w:102px,
                     $h:99px,
                     $l-height:35px,
                     $text-center:center,
                     $b: null,
                     );
    background-color: #333645;
    
}

#sub-btn{
    @include btnstyle($b-radius:5px,
                     $f-size:17.008px,
                     $w:129px,
                     $h:46px,
                     $l-height:35px,
                     $text-center:center,
                     $b: null,);
    
}

#hamburger-menu {
    height:54px;
    width:60px;
  }

.btn-styles{
  @include btnstyle($b-radius:5px,
                    $f-size:17.008px,
                    $w:129px,
                    $h:46px,
                    $l-height:35px,
                    $text-center:center,
                    $b: none,
                   );
  text-transform: uppercase;
  color:white;

}

.grey-btn{
  background-color: $grey;
}

// .grey_blue-btn{
//   background-color: $grey_blue;
//   &:hover{
//     background-color: $grey_blue-hover;
//   }
// }

.grey_blue-btn{
  @include hover($grey_blue,$grey_blue-hover);
}

.green-btn{
  background-color: $green;
  &:hover{
    background-color: $green-hover;
  }
}

.pred-btn{
  background-color: $pink_red;
  &:hover{
    background-color: $pred-hover;
  }
}

.dred-btn{
  background-color: $dark_red;
  &:hover{
    background-color: $dred-hover;
  }
}

.blue-btn{
  background-color: $blue;
  &:hover{
    background-color: $blue-hover;
 }
}

.purple-btn{
  background-color: $purple;
  &:hover{
    background-color: $purple-hover;
  }
}

.black-btn{
  background-color: $black;
  &:hover{
    background-color: $black-hover;
  }
}

#instagram{
  &:hover{
    background-color: $instagram;
  }
}

#linked_in{
  &:hover{
    background-color: $linked_in;
  }
}

#twitter{
  &:hover{
    background-color: $twitter;
  }
}
#facebook{
  &:hover{
    background-color: $facebook;
  }
}

