#fixed-consent{
    position: fixed;
    bottom:0px;
    border-radius: 0px 10px 0px 10px;
    border:none;
    left:0px;
    background-color: $consent;
    &:hover{
      background-color: $consent-hover;

    }
  }

.nav-size{
  display: flex;
  flex-wrap: wrap;
  align-content: normal;
  align-items: normal;
  justify-content: center;
  background-color: #333645;
  margin-bottom: 0;
}

.top-btn{
    @include btnstyle($b-radius:null,
                     $f-size:18px,
                     $w:102px,
                     $h:99px,
                     $l-height:35px,
                     $text-center:center,
                     $b: null,
                     );
    background-color: #333645;
    
}

#sub-btn{
    @include btnstyle($b-radius:5px,
                     $f-size:17.008px,
                     $w:129px,
                     $h:46px,
                     $l-height:35px,
                     $text-center:center,
                     $b: null,);
    
}

#hamburger-menu {
    height:54px;
    width:60px;
  }

.btn-styles{
  @include btnstyle($b-radius:5px,
                    $f-size:17.008px,
                    $w:129px,
                    $h:46px,
                    $l-height:35px,
                    $text-center:center,
                    $b: none,
                   );
  text-transform: uppercase;
  //color:white;

}

.grey-btn{
  background-color: $grey;
}

.grey_blue-btn{
  @include hover($grey_blue,$grey_blue-hover);
}

.green-btn{
  @include hover($green,$green-hover);
}

.pred-btn{
  @include hover($pink_red,$pred-hover);
}

.dred-btn{
  @include hover($dark_red,$dred-hover);
}

.blue-btn{
  @include hover($blue,$blue-hover);
}

.purple-btn{
  @include hover($purple,$purple-hover);
}

.black-btn{
  @include hover($black,$black-hover);
}

#instagram{
  @include hover($black,$instagram);
}

#linked_in{
  @include hover($black,$linked_in);
}

#twitter{
  @include hover($black,$twitter);
}
#facebook{
  @include hover($black,$facebook);
}

.btn-1{
  @include hover($background_black,$grey_blue_og); 
    
}

.btn-2{
  @include hover($background_black,$blue); 
}

.btn-3{
  @include hover($background_black,$green); 
}

.btn-4{
  @include hover($background_black,$dark_red); 
}

.btn-5{
  @include hover($background_black,$purple); 
}

.btn-6{
  @include hover($background_black,$pink_red); 
}

#phone{
  background-color: red;
  border:1px solid;
  &:hover{
    cursor: pointer;
  }
}

.btn-icon{
  width: 65px;
  height:65px;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 17px;
  color:$white;
  margin-top: 17px;
  line-height: 62px;
}

#search-icon{
  margin-left: 0px;
}



