#fixed-consent{
  text-transform: none;
    position: fixed;
    bottom:0px;
    border-radius: 0px 10px 0px 0px;
    border:none;
    left:0px;
    background-color: $consent;
    &:hover{
      background-color: $consent-hover;

    }
}

#live-chat{
  background-color: $background_black;
  display: block;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}




#sub-btn{
    @include btnstyle($b-radius:5px,
                     $f-size:17.008px,
                     $w:129px,
                     $h:46px,
                     $l-height:35px,
                     $text-center:center,
                     $b: null,);
    
}



.btn-styles{ //A class added to most button elements which share a similar design. 
             //Some aspects may be overiden elsewhere for specific buttons
  @include btnstyle($b-radius:5px,
                    $f-size:1.063rem,
                    $w:129px,
                    $h:46px,
                    $l-height:35px,
                    $text-center:center,
                    $b: none,
                   );
  text-transform: uppercase;
  color:$white;

  

}

.grey-btn{
  background-color: $grey;
}

.grey_blue-btn{ 
  @include hover($grey_blue,$grey_blue-hover);
}

.green-btn{
  @include hover($green,$green-hover);
}

.pred-btn{
  @include hover($pink_red,$pred-hover);
}

.dred-btn{
  @include hover($dark_red,$dred-hover);
}

.blue-btn{
  @include hover($blue,$blue-hover);
}

.purple-btn{
  @include hover($purple,$purple-hover);
}

.black-btn{
  @include hover($black,$black-hover);
}

#instagram{
  @include hover($black,$instagram);
}

#linked_in{
  @include hover($black,$linked_in);
}

#twitter{
  @include hover($black,$twitter);
}
#facebook{
  @include hover($black,$facebook);
}




.btn-icon{ //Used for buttons which contain an icon inside them (such as the buttons used in the grid)
  width: 65px;
  height:65px;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 17px;
  color:$white;
  margin-top: 17px;
  line-height: 62px;
}

#search-icon{
  height: 56px;
  width: 63px;
  border-radius: 0 3px 3px 0;
  font-size: 23px;
  text-align: center;
  color: white;
  @include hover($consent-hover,$search_grey_hover);
  span{
    margin: auto;
  }
}

// .btn{
//   height: auto;
//   line-height: 35px;
//   padding: 5px 15px;
//   text-transform: uppercase;
//   font-size: 1.063rem;
//   border-radius: 3px;
//   white-space: normal;
//   display: inline-block;
//   margin-bottom: 0;
//   font-weight: 400;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   background-image: none;
//   border: 1px solid transparent;
//   white-space: nowrap;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.42857143;
//   border-radius: 2px;
// }

    
    