.cookie-popup{ //The cookie popup menu, which is a work in progress as it does not currently display properly
    margin-left:27%;
    box-shadow:  5px 15px rgba(0,0,0,.5);
    position:fixed;
    @include flex($flex-dir:column,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content:space-around,
                );
    display:none;
    width:600px;
    @include media(small){
        transform: translate(0%, 0%);
    }
    .cookie-header{
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.42857143px;
        h3{
            font-size: 1.625rem;
            margin: 0;
            line-height: 1.42857143;
            color: #333645;
            font-weight: 400;
        }
    }

    background-color: $white;
    border-radius: 5px;
    z-index:3;
    font-size:1em;
    border:1px solid grey;
    transform: translate(-50%, -50%);
    // h1 {
    // }
    P{
        color: #666;
        line-height:2rem;
    }
    .cookie-buttons{
        //border-top: 1px solid #e5e5e5;
        //margin-top: 15px;
        //padding: 19px 20px 20px;
        @include flex($flex-dir:row,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: center,
                  $justify-content:space-around,
        );
        margin-left: -15px;
        margin-right: -15px;
        button{
            @include button($height:null,
                            $l-height:35px,
                            $padding:5px 15px,
                            $text-transform:uppercase,
                            $font-size:1.063rem,
                            $border-radius:3px,
                            $white-space:normal);
        }
        .accept-button,.change-button{
            padding: 5px 15px;
            width:45%;
        }
        
    }
}

#accept,#change{
    width:100%;
}

.cookie-shadow{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 30px;
    display: none;
}

.cookie-align{
    display:flex;
    align-items: center;
}