.cookie-popup{ //The cookie popup menu, which is a work in progress as it does not currently display properly
    //display:none;
    box-shadow:  5px 15px rgba(0,0,0,.5);
    position:fixed;
    @include flex($flex-dir:column,
                  $display: flex,
                  $flex-wrap: wrap,
                  $align-content: normal,
                  $align-items: normal,
                  $justify-content:space-around,
                );
    top:50%;
    left:25%;
    width:60%;
    @include media(small){
        transform: translate(0%, 0%);
    }
    .cookie-header{
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.42857143px;
        h3{
            font-size: 1.625rem;
            margin: 0;
            line-height: 1.42857143;
            color: #333645;
            font-weight: 400;
        }
    }

    background-color: $white;
    border-radius: 5px;
    z-index:3;
    font-size:1em;
    border:1px solid grey;
    transform: translate(-50%, -50%);
    // h1 {
    // }
    P{
        color: #666;
        line-height:2rem;
    }
    .cookie-buttons{
        // display:flex;
        // flex-direction: column;
        button{
            height:auto !important; //Overides height set by the btn-styles class
            margin-top: 20px;
            margin-bottom:20px;
            margin-left:10%;
            margin-right:10%;
            width:80%;
            @include media(large){

            };
        }
        
    }
}


