.slider{
    //Need to properly align text and button 
    background-image: url("../img/home.webp"); //Doesn't size properly for non-laptop screen sizes, need to fix this
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    width:100%;
    height:515px;
    //margin-top: -22px; //Removes gap between navigation bar and background image
    @extend %container-padding-horizontal;
    @include flex( //Flex used for the layout of the text on the banner
        $flex-dir:column,
        $display:flex,
        $flex-wrap:wrap,
        $align-content:normal,
        $align-items:normal,
        $justify-content:center
        );
    button{
      width:50%;
      height:10%;
      @extend %container-align;
        
    }
  }
  
  